@define-color bg #1d1a34;
@define-color fg #7783ce;
@define-color gray1 #60dd59;
@define-color gray2 #353558;
@define-color gray3 #3771ff;
@define-color gray4 #fdd054;
@define-color gray5 #aa4efb;
@define-color fg_bright #7783ce;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}